body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;

  }

  .main-content {
    margin: 0 20% 0 20%;
    padding-top:50px;
}

  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  header {
    text-align: right;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 1em;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
  }
  
  header nav a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 2em 1em .5em;
    -webkit-transition: all .3s ease-in;
    transition: all 0.5s ease-in;
  }
  
  .small {
    padding: .5em 1em;
  }
  
  header nav a:hover {  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .active {
    background: rgba(255, 255, 255, 0.3);
  }
  
  nav span {
    position: absolute;
    left: 40px;
    top: 10px;
    font-weight: bold;
    transition: all 0.5s ease-in;
  }
  
  .movetext {
    top: -30px;
  }

  .hidden{
    display: none;
  }

  